.inputField {
   width: 100%;
   display: flex;
   align-items: center;
}

.label {
   width: 15rem;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 14px;
}

.input {
   padding: 1rem;
   border: none;
   background: #b9b2c4;
   border-radius: 5px;
   flex-grow: 1;
}

.input:focus {
   outline: 2px solid #a997c7;
}
