.bottom {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 45rem;
   overflow: hidden;
}

.header,
.body,
.footer {
   padding: 2rem;
}

.header {
   height: 14rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.body {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.footer {
   position: relative;
   border-radius: 0 0 5px 5px;
   height: 8rem;
}
