.contact {
   width: min(110rem, 100%);
   height: 100%;
   margin: 0 auto;
   display: flex;
   gap: 2rem;
   color: var(--jet-2);
}

.title {
   font-size: 30px;
   font-weight: 700;
   text-transform: uppercase;
   width: 35rem;
   border-radius: 5px;
   padding: 2rem;
}

.body {
   flex-grow: 1;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   padding: 2rem;
   gap: 2rem;
}

.buttons {
   position: relative;
   z-index: 1;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   gap: 2rem;
}

.button {
   position: relative;
   z-index: 2;
   padding: 0.7rem 2.5rem 0.5rem 2.5rem;
   background: #b9b2c4;
   border: none;
   border-radius: 5px;
   font-family: var(--font-family--primary);
   color: var(--jet);
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 500;
   cursor: pointer;
}

.button:hover {
   background: var(--cultured);
}

.button:focus {
   outline: 2px solid #a997c7;
}

@media only screen and (max-width: 1125px) {
   .contact {
      flex-direction: column;
      width: min(70rem, 100%);
      gap: 0;
   }
}

@media only screen and (max-width: 510px) {
   .row {
      flex-direction: column;
   }

   .label {
      width: 100%;
   }

   .input {
      width: 100%;
   }

   .bottom {
      flex-direction: column;
   }
}
